%h1 All Pages

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Slug
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.title, url_for_page(page)
        %td= truncate(strip_tags(page.body), length: 120)
        %td
          %code=url_for_page page
        %td=  link_to 'Edit', edit_admin_page_path(page), class: "label label-info"
        %td= link_to 'Destroy', admin_page_path(page), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"



%p 
  = link_to 'New Page', new_admin_page_path, class: "btn btn-success"

  - Type.all.each do |type|
    = link_to "New #{type.name}", new_admin_page_path(type: type.name), class: "btn btn-default"