= form_for ["admin", @category] do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :name
    = f.text_field :name, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-success"
