%h1 Listing categories

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= link_to 'Show', admin_category_path(category)
        %td= link_to 'Edit', edit_admin_category_path(category), class: "label label-info"
        %td= link_to 'Destroy', admin_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"

%br

%p= link_to 'New Category', new_admin_category_path, class: "btn btn-success"
