=form_for [ "admin", @menu ] do |f|
  %div.form-group
    =f.text_field :name, class: "form-control"

  %h3 Menu items
  =f.fields_for :menu_items do |c|
    %p
      =c.text_field :title, placeholder: "Title"
      =c.text_field :url, placeholder: "URL"
      =c.hidden_field :id

  %div.form-group
    =f.submit class: "btn btn-primary"
